*{
    padding: 0px;
    margin: 0px;
}

html{
    background-color: darkolivegreen;
}

.contenedor-menu{
    height: 100px;
    width: 80%;
    background-color: antiquewhite;
    margin: 0 auto;
}

.contenedor-menu h1{
    color: brown;
    text-align: center;
    text-shadow: 8px 8px 8px rgb(223, 112, 57);
    line-height: 70px;
}
.contenedor-menu ul{
    display: flex;
    
}

.contenedor-menu ul li{
    list-style-type: none;
    margin-left: 200px;
    padding-top: 10px;
}

.contenedor-menu ul li a{
    text-decoration: none;
    
}

.contenedor-menu ul li a:hover{
    font-size: 28px;
    color: rgb(82, 53, 17);
    background-color: rgb(181, 163, 123);
}
